{% set pageVar = {title: 'title'} %}
{% extends 'inc/layout.html' %}
{% block content -%}

<p style="font-size: 14px; font-weight: 300;">가나다라마바사아자차카타파하</p>
<p style="font-size: 14px; font-weight: 400;">가나다라마바사아자차카타파하</p>
<p style="font-size: 14px; font-weight: 700;">가나다라마바사아자차카타파하</p>
<p style="font-size: 14px; font-weight: 800;">가나다라마바사아자차카타파하</p>

<button type="button" class="btnType1"><span>버튼</span></button>
<a href="#" class="btnType1">버튼</a>
<button type="button" class="btnType2"><span>버튼</span></button>
<a href="#" class="btnType2">버튼</a>
<button type="button" class="btnType3"><span>버튼</span></button>
<a href="#" class="btnType3">버튼</a>
<button type="button" class="btnType4"><span>버튼</span></button>
<a href="#" class="btnType4">버튼</a>
<button type="button" class="btnType5"><span>버튼</span></button>
<a href="#" class="btnType5">버튼</a>
{%- endblock %}