{% set pageVar = {title: 'title'} %}
{% extends 'inc/layout.html' %}
{% block content -%}

<p style="font-size: 14px; font-weight: 300;">가나다라마바사아자차카타파하</p>
<p style="font-size: 14px; font-weight: 400;">가나다라마바사아자차카타파하</p>
<p style="font-size: 14px; font-weight: 700;">가나다라마바사아자차카타파하</p>
<p style="font-size: 14px; font-weight: 800;">가나다라마바사아자차카타파하</p>

<div class="tab">
	<ul class="tabList">
		<li><a href="#">탭1</a></li>
		<li class="active"><a href="#">탭2</a></li>
		<li><a href="#">탭3</a></li>
		<li><a href="#">탭4</a></li>
		<li><a href="#">탭5</a></li>
	</ul>
</div>

<button type="button" class="btnType1"><span>버튼</span></button>
<a href="#" class="btnType1">버튼</a>
<button type="button" class="btnType2"><span>버튼</span></button>
<a href="#" class="btnType2">버튼</a>
<button type="button" class="btnType3"><span>버튼</span></button>
<a href="#" class="btnType3">버튼</a>
<button type="button" class="btnType4"><span>버튼</span></button>
<a href="#" class="btnType4">버튼</a>
<button type="button" class="btnType5"><span>버튼</span></button>
<a href="#" class="btnType5">버튼</a>
<label class="inputChk"><input type="radio"> <span>라디오</span></label>

<script>
$(document).ready(function () {
	$("#mntrGrid").jqGrid({
        mtype: "GET",
        datatype: "local",
        colNames:['메인모듈명','시설명','상태','누설','누설위치','파손','통신','베터리','최종갱신일시'],
        colModel: [
            { name: 'EQMT_NM', 	 	index: 'eqmtNm',     width: 200, key: true },
            { name: 'FCLT_NM',   	index: 'fcltNm',    width: 150 },
            { name: 'EQMT_STAT',   	index: 'eqmtStat', 	width: 80 },
            { name: 'LEAK_YN',   	index: 'leakYn', 	width: 80 },
            { name: 'LEAK_POS',   	index: 'leakPos', 	width: 80 },
            { name: 'FLG_YN',   	index: 'flgYn', 	width: 80 },
            { name: 'CMM_FAIL_YN',  index: 'cmmFailYn', 	width: 80 },
            { name: 'BATR',   		index: 'batr', 	width: 80 },
            { name: 'LAST_UPD_DTM', index: 'lastUpdDtm', 	width: 150 }
        ],
        viewrecords: true,
        height: 500,
        rowNum: 10,
        rowList:[10,20,30],
        pager: "#mntrGridPager"
    });
	
	$.ajax({
        url: "../js/mntrList.json",
        data: "",
        success: function(data) {
       		var jsonData = data;
       		var mntrList = jsonData.mntrList;
       		for(var i=0; i<mntrList.length ; i++ ){
       			$('#mntrGrid').jqGrid('addRowData', i, mntrList[i]);
            }
       		$("#mntrGrid").trigger('reloadGrid');
        },
        error: function(){
			console.log("에러 : ");
		}
    });
});
</script>

<table id="mntrGrid"></table>
<div id="mntrGridPager"></div>
{%- endblock %}