{% set pageVar = {title: 'title'} %}
{% extends 'inc/layout.html' %}
{% block content -%}

<section class="box">
	<h3 class="subTitle">서브타이틀</h3>
	<p style="font-size: 14px; font-weight: 300;">가나다라마바사아자차카타파하</p>
	<p style="font-size: 14px; font-weight: 400;">가나다라마바사아자차카타파하</p>
	<p style="font-size: 14px; font-weight: 700;">가나다라마바사아자차카타파하</p>
	<p style="font-size: 14px; font-weight: 800;">가나다라마바사아자차카타파하</p>
	<div>
		<button type="button" class="btnType1"><span>버튼</span></button>
		<a href="#" class="btnType1">버튼</a>
		<button type="button" class="btnType2"><span>버튼</span></button>
		<a href="#" class="btnType2">버튼</a>
		<button type="button" class="btnType3"><span>버튼</span></button>
		<a href="#" class="btnType3">버튼</a>
		<button type="button" class="btnType4"><span>버튼</span></button>
		<a href="#" class="btnType4">버튼</a>
		<button type="button" class="btnType5"><span>버튼</span></button>
		<a href="#" class="btnType5">버튼</a>
	</div>
	<div>
		<label class="inputChk"><input type="radio"> <span>라디오</span></label>
		<label class="inputChk"><input type="checkbox"> <span>체크박스</span></label>
		<input type="text" class="inputTxt typeCal">
		<select name="" id="">
			<option value="">선택</option>
			<option value="">옵션</option>
		</select>
	</div>
	<div>
		<button type="button" class="btnType2" onclick="layer.open('layerAlertRel');"><span>알람 발생 기준 레이어 열기</span></button>
	</div>
</section>
<section class="box">

	<div class="filter">
		<span class="cell">
			<strong class="th">장비명</strong>
			<span class="td">
				<select style="width: 100%;">
					<option>ALL</option>
				</select>
			</span>
		</span>
		<span class="cell">
			<strong class="th">배관</strong>
			<span class="td">
				<select style="width: 100%;">
					<option>ALL</option>
				</select>
			</span>
		</span>
		<span class="cell">
			<strong class="th">시설</strong>
			<span class="td">
				<select style="width: 100%;">
					<option>ALL</option>
				</select>
			</span>
		</span>
		<span class="btn">
			<button type="button" class="btnType3"><span>검색</span></button>
		</span>
	</div>

	<div class="filter">
		<span class="cell">
			<strong class="th">장비도입구</strong>
			<span class="td">
				<select style="width: 100%;">
					<option>2021 YUMIN Leak Sensor</option>
				</select>
			</span>
		</span>
		<span class="cell">
			<strong class="th">조회기간</strong>
			<span class="td">
				<div class="period">
					<div><input type="text" class="inputTxt typeCal" value="2021-03-05"></div>
					<div class="hyphen">-</div>
					<div><input type="text" class="inputTxt typeCal" value="2021-03-05"></div>
				</div>
			</span>
		</span>
		<span class="cell">
			<strong class="th">배관</strong>
			<span class="td">
				<select style="width: 100%;">
					<option>배관명 A1</option>
				</select>
			</span>
		</span>
		<span class="btn">
			<button type="button" class="btnType3"><span>검색</span></button>
		</span>
	</div>

	<div class="filter">
		<span class="cell">
			<strong class="th">조회기간</strong>
			<span class="td">
				<div class="period">
					<div><input type="text" class="inputTxt typeCal" value="2021-03-05"></div>
					<div class="hyphen">-</div>
					<div><input type="text" class="inputTxt typeCal" value="2021-03-05"></div>
				</div>
			</span>
		</span>
		<span class="cell">
			<strong class="th">배관</strong>
			<span class="td">
				<select style="width: 100%;">
					<option>배관명 A1</option>
				</select>
			</span>
		</span>
		<span class="cell">
			<strong class="th">장비</strong>
			<span class="td">
				<select style="width: 100%;">
					<option>ALL</option>
				</select>
			</span>
		</span>
		<span class="cell">
			<strong class="th">상태</strong>
			<span class="td">
				<select style="width: 100%;">
					<option>ALL</option>
				</select>
			</span>
		</span>
		<span class="btn">
			<button type="button" class="btnType3"><span>검색</span></button>
		</span>
	</div>

</section>
<div class="tab">
	<ul class="tabList">
		<li><a href="#">탭1</a></li>
		<li class="active"><a href="#">탭2</a></li>
		<li><a href="#">탭3</a></li>
		<li><a href="#">탭4</a></li>
		<li><a href="#">탭5</a></li>
	</ul>
	<section class="box">
		<h3 class="subTitle">모니터링</h3>
	
		<table id="mntrGrid"></table>
		<div id="mntrGridPager" class="pager"></div>
	</section>
</div>
<script>
$(document).ready(function () {
	$("#mntrGrid").jqGrid({
        mtype: "GET",
        datatype: "local",
        colNames:['메인모듈명','시설명','상태','누설','누설위치','파손','통신','베터리','최종갱신일시'],
        colModel: [
            { name: 'EQMT_NM', 	 	index: 'eqmtNm',  key: true },
            { name: 'FCLT_NM',   	index: 'fcltNm',   },
            { name: 'EQMT_STAT',   	index: 'eqmtStat', 	},
            { name: 'LEAK_YN',   	index: 'leakYn', 	},
            { name: 'LEAK_POS',   	index: 'leakPos', 	},
            { name: 'FLG_YN',   	index: 'flgYn', 	},
            { name: 'CMM_FAIL_YN',  index: 'cmmFailYn',  },
            { name: 'BATR',   		index: 'batr', 	 },
            { name: 'LAST_UPD_DTM', index: 'lastUpdDtm',  }
        ],
        viewrecords: true,
		autowidth:true,
        height: 'auto',
        rowNum: 10,
        rowList:[10,20,30],
        pager: "#mntrGridPager"
    });
	
	$.ajax({
        url: "../js/mntrList.json",
        data: "",
        success: function(data) {
       		var jsonData = data;
       		var mntrList = jsonData.mntrList;
       		for(var i=0; i<mntrList.length ; i++ ){
       			$('#mntrGrid').jqGrid('addRowData', i, mntrList[i]);
            }
       		$("#mntrGrid").trigger('reloadGrid');
        },
        error: function(){
			console.log("에러 : ");
		}
    });
});
</script>

<div class="layerPopup" id="layerAlertRel">
	<section class="popWrap" style="width: 560px;">
		<h3 class="subTitle">알람 발생 기준</h3>
		<div class="table">
			<table>
				<colgroup>
					<col style="width: 143px;">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">장비도입 구분*</th>
						<td>
							<select style="width: 100%;">
								<option value="">2021 YUMIN Leak Sensor</option>
							</select>
						</td>
					</tr>
					<tr>
						<th scope="row">계측인자*</th>
						<td>
							<label class="inputChk"><input type="radio" name="layerAlertRadio"> <span>누설</span></label>
							<label class="inputChk"><input type="radio" name="layerAlertRadio"> <span>파손</span></label>
							<label class="inputChk"><input type="radio" name="layerAlertRadio"> <span>통신장애</span></label>
						</td>
					</tr>
					<tr>
						<th scope="row">알림유형*</th>
						<td>
							<label class="inputChk"><input type="checkbox"> <span>누설</span></label>
							<label class="inputChk"><input type="checkbox"> <span>파손</span></label>
							<label class="inputChk"><input type="checkbox"> <span>통신장애</span></label>
						</td>
					</tr>
					<tr>
						<th scope="row">알람대상*</th>
						<td>
							<label class="inputChk"><input type="checkbox"> <span>관리자</span></label>
							<label class="inputChk"><input type="checkbox"> <span>배관담당</span></label>
						</td>
					</tr>
					<tr>
						<th scope="row">알람 기본 메세지</th>
						<td>
							위치/배관명/센싱타입
						</td>
					</tr>
					<tr>
						<th scope="row">알람 추가 메세지*</th>
						<td>
							<input type="text" class="inputTxt" value="누설이 발생하였습니다.">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="btnWrap">
			<button type="button" class="btnType2"><span>수정</span></button>
			<button type="button" class="btnType2"><span>저장</span></button>
			<button type="button" class="btnType1"><span>삭제</span></button>
		</div>

		<button type="button" class="btnClose" onclick="layer.close();"><span>레이어닫기</span></button>
	</section>
</div>
{%- endblock %}