select {
	position: relative;
	height: 32px;
	padding: 0 30px 0 13px;
	background: #eef2f6 url('../images/icon_select.png') no-repeat right 11px top 50%;
	color: #41424a;
	border: 1px solid #eef2f6;
	font-size: 14px;
	text-align: left;
	vertical-align: top;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	@media screen and (max-width: 768px) {
		height: rem(55);
		padding: 0 rem(50) 0 rem(10);
		font-size: rem(24);
		background-size: rem(20);
		background-position: right rem(20) top 50%;
	}
	&::-ms-expand{ display: none; opacity: 0; }
	&:disabled {
		color: #bbb;
		background: #e9e9e9;
		border: 1px solid #d3d4d6;
	}
	&.bgNone {
		background-color: #fff;
		border: 0;
	}
	&.typeLine {
		background-color: #fff;
		border: 1px solid #c3c6da;
	}
}
textarea {
	width: 100%;
	padding: 8px 13px;
	background: #fff;
	border: 1px solid #c3c6da;
	overflow: auto;
	resize: none;
	@media screen and (max-width: 768px) {
		padding: rem(10);
	}
	&::-webkit-input-placeholder {color: #999;}
	&::placeholder {color: #999; opacity: 1; font-size: 14px;}
	&:-ms-input-placeholder {color: #999;}
	&:disabled {background: #e9e9e9;}
}
.inputBox {
	display: inline-block;
	vertical-align: top;
	.inputTxt {width: 100%;}
}
.inputTxt {
	height: 32px;
	padding: 0 15px;
	background: #fff;
	border: 1px solid #c3c6da;
	line-height: 1;
	@media screen and (max-width: 768px) {
		height: rem(55);
		padding: rem(10);
	}
	&.typeBg {
		background: #eef2f6;
		border: 0;
	}
	&:focus {
		color: #000;
		border-color: #000;
		outline: none;
	}
	&:disabled {
		background: #e9e9e9;
		border-color: #d3d4d6;
		color: #bbb;
	}
	&.readonly, &[readonly] {
		background: #e9e9e9;
		border-color: #d3d4d6;
	}
	&::-webkit-input-placeholder {color: #999;}
	&::placeholder {color: #999; opacity: 1;}
	&:-ms-input-placeholder {color: #999;}
	&::-ms-clear {display: none;}
	&.typeCal {
		padding-right: 30px;
		background: #fff url($path+'images/icon_cal.png') no-repeat right 5px top 50%;
		@media screen and (max-width: 768px) {
			padding-right: 20px;
			background-size: 12px;
		}
	}
	&[data-valid="false"] {
		border: 1px solid #f00;
		~ .txtValid {
			display: block;
			color: #f00;
		}
	}
	&[data-valid="true"] {
		border: 1px solid #1e70cd;
		~ .txtValid {
			display: block;
			color: #1e70cd;
		}
	}
}
.txtValid {
	display: none;
	font-size: 12px;
	@media screen and (max-width: 768px) {
		font-size: rem(24);
	}
}

.inputChk {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 1;
	input:focus + span {outline: 1px dashed;}
	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		z-index: -1;
		& + span, & + label {
			display: inline-block;
			cursor: pointer;
			color: #666;
			font-size: 14px;
			@media screen and (max-width: 768px) {
				font-size: rem(24);
			}
			&:before {
				content:"";
				@include display($type: inline-block, $a: 16px);
				margin-right: 6px;
				border: 1px solid #75788a;
				background: #fff url($path+'images/icon_chk.png') no-repeat -900% 50%;
				vertical-align: -4px;
			}
		}
		&:disabled + label:before,
		&:disabled + span:before {opacity: .5;}
		&:checked + label:before,
		&:checked + span:before {background-position: 50% 50%;}
	}
	input[type="radio"] {
		@extend input[type="checkbox"];
		& + label:before,
		& + span:before {
			width: 20px; height: 20px;
			border: 0;
			background: url($path+'images/icon_radio.png') no-repeat;
		}
		&:checked + label:before,
		&:checked + span:before {background-position: 100% 0;}
	}
	&.nonTxt input + label, &.nonTxt input + span {
		font-size: 0;
		&:before {margin: 0;}
	}
}
.btnWrap {
	margin-top: 15px;
	text-align: center;
	&.right {
		text-align: right;
	}
}
[class*="btnType"] {
	display: inline-block;
	box-sizing: border-box;
	line-height: 1;
	vertical-align: middle;
}
.btnType1, .btnType2, .btnType3 {
	padding: 6px 12px 4px;
	font-size: 14px;
	border-radius: 2px;
	@media screen and (max-width: 768px) {
		padding: rem(16) rem(48) rem(12);
		font-size: rem(28);
	}
}
.btnType1 {
	background: #f68710;
	border: 1px solid #f68710;
	color: #fff;
}
.btnType2 {
	background: #3c3c46;
	border: 1px solid #617281;
	color: #fff;
}
.btnType3 {
	background: #5a5c67;
	border: 1px solid #5a5c67;
	color: #fff;
}
.btnType4 {
	padding: 4px 8px;
	background: #a2a4b3;
	color: #fff;
	font-size: 12px;
	@media screen and (max-width: 768px) {
		padding: rem(10) rem(16) rem(6);
		font-size: rem(28);
	}
}
.btnType5 {
	padding: 6px 8px 4px;
	background: #fff;
	border: 1px solid #bec8d1;
	border-radius: 2px;
	color: #6a6d7f;
	font-size: 12px;
	@media screen and (max-width: 768px) {
		padding: rem(12) rem(16) rem(8);
		font-size: rem(24);
	}
}
.btnType6 {
	padding: 9px 8px 8px;
	background: #e5ecf2;
	border: 1px solid #bec8d1;
	border-radius: 2px;
	color: #6a6d7f;
	font-size: 13px;
	@media screen and (max-width: 768px) {
		padding: rem(12) rem(16) rem(8);
		font-size: rem(24);
	}
}
.btnMap {
	display: inline-block;
	width: 18px; height: 22px;
	margin-left: 4px;
	background: url($path+'/images/icon_map.png') no-repeat;
	font-size: 0;
	vertical-align: middle;
	@media screen and (max-width: 768px) {
		width: rem(25); height: rem(29);
		background: url($path+'/images/icon_map_mo.png') no-repeat;
		background-size: cover;
	}
}

.subTitle {
	position: relative;
	margin: 20px 0 6px 15px;
	padding-left: 13px;
	font-size: 18px;
	color: #303132;
	line-height: 1.2;
	&:first-child {margin-top: 0;}
	&:after {
		content: "";
		@include pos($p: absolute, $t: 8px, $l: 0);
		width: 4px; height: 4px;
		background: #313447;
	}
	&.type2 {
		color: #f5167f;
		&:after {background: #f5167f;}
	}
	
	@media screen and (max-width: 768px) {
		margin: rem(40) 0 rem(20);
		margin-left: 0;
		font-size: rem(34);
		&:after {
			top: rem(16);
			width: rem(8); height: rem(8);
		}
	}
}
.subTitle2 {
	margin: 30px 0 12px 15px;
	padding: 0 0 0 24px;
	background: url($path+'images/bul_title.png') no-repeat 0 50%;
	color: #547796;
	font-weight: 400;
	@media screen and (max-width: 768px) {
		margin: rem(40) 0 rem(20);
		padding: 0 0 0 rem(40);
		background-size: rem(30);
	}
}
.boardHead {
	display: flex;
	margin: 30px 0 10px;
	align-items: center;
	.subTitle {margin: 0 0 5px 15px;}
	&:first-child {margin-top: 0;}
	.btn {
		margin-left: auto;
		justify-self: flex-end;
	}
}

.box {
	padding: 20px;
	background: #fff;
	border: 1px solid #d9dce8;
	.subTitle:first-child {margin-top: 0;}
	~ .box, ~ .tab {margin-top: 12px;}
	&.typeColumn {
		margin: 0;
		padding: 20px 10px;
	}
	
	@media screen and (max-width: 768px) {
		padding: rem(30);
		border: 0;
		~ .box, ~ .tab {
			border-top: 12px solid #EBF0F3;
			margin-top: 0;
		}
	}
}
.typeColumn {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	
	@media screen and (max-width: 768px) {
		display: block;
		margin: 0;
	}
	.columnBox {
		width: 50%;
		box-sizing: border-box;
		padding: 0 10px;
		@media screen and (max-width: 768px) {
			width: auto !important;
			padding: 0;
			~ .columnBox {margin-top: 20px;}
		}
	}
	&.type2 .columnBox {
		&:first-child {width: 40%;}
		width: 60%;
	}
	&.type3 .columnBox {
		&:first-child {width: 70%;}
		width: 30%;
	}
}
.tab {
	.box {
		margin-top: -1px;
		@media screen and (max-width: 768px) {
			border-top: 1px solid #d9dce8;
		}
	}
	~ .box {margin-top: 12px;}
}
.tabList {
	display: flex;
	li {
		width: 20%;
		position: relative;
		background: #f6fafb;
		border: 1px solid #d9dce8;
		~ li {border-left: 0;}
		a {
			position: relative;
			display: block;
			padding: 10px 0;
			text-align: center;
			font-size: 14px;
			color: #313447;
			z-index: 2;
			@media screen and (max-width: 768px) {
				font-size: rem(20);
				padding: rem(12) 0;
				height: 100%;
			}
		}
		&.active {
			a {color: #1483ea;}
			&:after {
				content: "";
				@include pos($p: absolute, $t: 0, $r: 0, $b: -1px, $l: 0);
				background: #fff;
			}
		}
	}
}

.table {
	.alignCenter {text-align: center;}
	.alignLeft {text-align: left;}
	font-size: 12px;
	
	@media screen and (max-width: 768px) {
		overflow-x: auto;
		table {
			width: auto;
			min-width: 100%;
			white-space: nowrap;
		}
	}
	thead {
		th {
			padding: 6px 10px;
			background: #d8e7f4;
			border: 1px solid #afc9dd;
			border-bottom-color: #7f93a4;
			color: #547796;
			font-weight: 400;
			@media screen and (max-width: 768px) {
				padding: rem(15) rem(10);
			}
		}
	}
	tbody {
		th {
			padding: 0 0 0 15px;
			background: #d8e7f4;
			border: 1px solid #afc9dd;
			border-right-color: #7f93a4;
			color: #547796;
			font-weight: 400;
			text-align: left;
			+ td {border-left: 1px solid #7f93a4;}
			@media screen and (max-width: 768px) {
				padding: 0 0 0 rem(10)
			}
		}
		td {
			padding: 6px 15px;
			border: 1px solid #afc9dd;
			@media screen and (max-width: 768px) {
				padding: rem(10);
			}
			.inputChk {
				margin-right: 15px;
				&.nonTxt {margin: 0;}
			}
			&.formOn {
				padding: 6px;
				.bgNone {padding: 0 10px;}
				@media screen and (max-width: 768px) {
					.bgNone {padding: 0 rem(60) 0 rem(10);}
				}
			}
			.cellInput {
				display: flex;
				margin: 0 -4px;
				align-items: center;
				> span {
					padding: 0 4px;
					box-sizing: border-box;
				}
				.inputTxt {width: 100%;}
			}
		}
	}
}

.filter {
	display: flex;
	margin: 0 0 15px;
	padding: 8px 0;
	border: 1px solid #d9dce8;
	@media screen and (max-width: 768px) {
		display: block;
		text-align: center;
		padding: 5px 10px;
	}
	select {
		height: 26px;
	}
	.inputTxt {
		min-width: 130px;
		width: 100%; height: 26px;
		@media screen and (max-width: 768px) {
			min-width: 0;
		}
	}
	.cell {
		display: flex;
		flex: 1;
		align-items: center;
		@media screen and (max-width: 768px) {
			padding: 5px 0;
		}
		.th {
			padding: 0 12px 0 30px;
			white-space: nowrap;
			@media screen and (max-width: 768px) {
				padding: 0 10px 0 0;
			}
		}
		.td {
			flex: 1;
			display: block;
			width: 100%;
		}
	}
	.period {
		display: flex;
		align-items: center;
		white-space: nowrap;
		> div {
			flex: 1;
		}
		.hyphen {
			flex: none;
			width: 10px; height: 1px;
			margin: 0 4px;
			font-size: 0;
			background: #545455;
			@media screen and (max-width: 768px) {
				width: 4px;
				margin: 0 2px;
			}
		}
	}
	.btn {padding: 0 13px;}
}

.layerPopup {
	display: none;
	@include pos($p: fixed, $a: 0, $z: 1000);
	background: rgba(0,0,0,.5);
	@include align;
	text-align: center;
	font-size: 0;
	&.show {
		display: block;
	}
	.popWrap {
		position: relative;
		display: inline-block;
		padding: 65px 20px 70px;
		background: #fff;
		text-align: left;
		vertical-align: middle;
		font-size: 14px;
		.subTitle:first-child {
			margin-top: -15px;
		}
		@media screen and (max-width: 768px) {
			width: auto !important;
			padding: rem(80) rem(20) rem(20);
			@include pos($p: fixed, $a: 0, $z: 1000);
			overflow: auto;
		}
	}
	.btnClose {
		@include pos($p: absolute, $t: 20px, $r: 20px);
		width: 32px; height: 32px;
		font-size:0;
		background: url($path+'images/btn_close.png') no-repeat;
		@media screen and (max-width: 768px) {
			top: rem(20); right: rem(20);
			width: rem(50); height: rem(50);
			background-size: cover;
		}
	}
}

.header {
	@include pos($p: fixed, $t: 0, $r: 0, $l: 0, $z: 100);
	display: flex;
	align-items: center;
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #d9dce8;
	@media screen and (max-width: 768px) {
		height: rem(102);
	}
	.logo {
		display: flex;
		height: 100%;
		margin-left: 30px;
		align-items: center;
		font-size: 0;
		img {height: 20px;}
		@media screen and (max-width: 768px) {
			margin-left: rem(136);
			img {height: rem(45);}
		}
	}
	.desc {
		margin: 3px 0 0 10px;
		color: #72818f;
		font-size: 12px;
		@media screen and (max-width: 768px) {
			margin: rem(6) 0 0 rem(10);
			font-size: rem(22);
		}
	}
	.btnMenu {
		display: none;
		@media screen and (max-width: 768px) {
			display: block;
			@include pos($p: absolute, $t: rem(32), $l: rem(24));
			width: rem(40); height: rem(40);
			background: url($path+'/images/btn_menu.png') no-repeat 50% 50%;
			background-size: cover;
			font-size: 0;
		}
	}
}

.menuWrap {
	@include pos($p: fixed, $t: 41px, $b: 0, $l: 0, $z: 100);
	width: 200px;
	padding: 20px 0 50px 20px;
	background: #fff;
	box-sizing: border-box;
	border-right: 1px solid #d9dce8;
	@media screen and (max-width: 768px) {
		display: none;
		top: 0;
		width: rem(450);
		padding: rem(102) 0 0;
		.menuShow & {
			display: block;
			z-index: 102;
		}
		.menuList {
			@include pos($p: absolute, $t: rem(160), $b: 0);
			width: 100%;
			overflow: auto;
			padding-top: rem(44);
		}
	}
	.btnClose {
		display: none;
		@media screen and (max-width: 768px) {
			display: block;
			@include pos($p: absolute, $t: rem(40), $r: rem(32));
			width: rem(35); height: rem(35);
			background: url($path+'/images/btn_close2.png') no-repeat;
			background-size: cover;
			font-size: 0;
		}
	}
	.util {
		display: flex;
		align-items: center;
		@include pos($p: fixed, $t: 0, $r: 0, $z: 100);
		height: 40px;
		.btnType4 {
			margin-right: 15px;
		}
		@media screen and (max-width: 768px) {
			position: relative;
			height: auto;
			padding: rem(12) rem(54);
			border: solid #d9dce8;
			border-width: 1px 0;
			.btnType4 {
				font-size: rem(22);
			}
		}
		.user {
			display: inline-block;
			margin-right: 5px;
			color: #606870;
			font-size: 16px;
			vertical-align: middle;
			font-size: 12px;
			@media screen and (max-width: 768px) {
				font-size: rem(24);
			}
		}
		.btnSet {
			display: inline-block;
			width: 35px; height: 100%;
			border: solid #d9dce8;
			border-width: 0 1px;
			font-size: 0;
			background: url($path+'images/icon_set.png') no-repeat 50% 50%;
			background-size: 20px;
			vertical-align: middle;
			@media screen and (max-width: 768px) {
				@include pos($p: absolute, $t: rem(18), $r: rem(34));
				width: rem(34); height: rem(34);
				margin: 0;
				background: url($path+'images/icon_set_mo.png') no-repeat;
				background-size: cover;
				border: 0;
			}
		}
	}
	.navTitle {
		margin-left: 13px;
		padding-left: 20px;
		background: url($path+'images/icon_depth.png') no-repeat 0 4px;
		font-size: 16px;
		color: #29292d;
		~ .navTitle {margin-top: 20px;}
		@media screen and (max-width: 768px) {
			margin-left: rem(55);
			padding-left: rem(42);
			font-size: rem(32);
			background: url($path+'images/icon_depth_mo.png') no-repeat 0 50%;
			background-size: rem(28);
			~ .navTitle {margin-top: rem(40);}
		}
	}
	.navList {
		margin-top: 5px;
		@media screen and (max-width: 768px) {
			margin: rem(20) 0 0;
		}
		li {
			padding: 6px 0 4px 30px;
			border-radius: 8px 0 0 8px;
			color: #6c8296;
			font-size: 15px;
			&.active {
				background: #3393ec;
				color: #fff;
			}
			@media screen and (max-width: 768px) {
				padding: rem(14) rem(10) rem(8) rem(100);
				font-size: rem(26);
				border-radius: 0;
			}
		}
		a {
			position: relative;
			display: block;
			padding-left: 10px;
			&:before {
				content: "-";
				@include pos($p: absolute, $t: 0, $l: 0);
			}
		}
	}
}

.container {
	margin: 42px 0 0 200px;
	padding: 12px;
	@media screen and (max-width: 768px) {
		margin: 0;
		background: #fff;
		padding: rem(100) 0 rem(24);
	}
}
