select {
	position: relative;
	height: 30px;
	padding: 0 30px 0 13px;
	background: #fff url('../images/icon_select.png') no-repeat right 11px top 50%;
	color: #000;
	border: 1px solid #acacac;
	font-size: 14px;
	text-align: left;
	vertical-align: top;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	&::-ms-expand{ display: none; opacity: 0; }
	&:disabled {
		color: #bbb;
		background: #e9e9e9;
		border: 1px solid #d3d4d6;
	}
}
.textarea {
	display: inline-block;
	width: 100%;
	textarea {
		width: 100%;
		padding: 8px 13px;
		background: #fff;
		border: 1px solid #acacac;
		overflow: auto;
		resize: none;
		&::-webkit-input-placeholder {color: #999;}
		&::placeholder {color: #999; opacity: 1; font-size: 14px;}
		&:-ms-input-placeholder {color: #999;}
		&:disabled {background: #e9e9e9;}
	}
}
.inputBox {
	display: inline-block;
	vertical-align: top;
	.inputTxt {width: 100%;}
}
.inputTxt {
	height: 30px;
	padding: 8px 12px;
	background: #fff;
	border: 1px solid #acacac;
	line-height: 1;
	& + .error {
		display: none;
		margin: 8px 0 0;
		font-size: 12px;
		color: #f00;
		text-align: right;
	}
	&:focus {
		color: #000;
		border-color: #000;
		outline: none;
	}
	&:disabled {
		background: #e9e9e9;
		border-color: #d3d4d6;
		color: #bbb;
	}
	
	&.readonly, &[readonly] {
		background: #e9e9e9;
		border-color: #d3d4d6;
	}

	&[data-valid="true"] {
		background: #fff url($path+'images/icon_success.png') no-repeat right 11px top 50%;
		border-color: #22a2d1;
	}
	&[data-valid="false"] {
		background: #fff url($path+'images/icon_error.png') no-repeat right 11px top 50%;
		border-color: #f00;
		& + .error {display: block;}
	}
	&::-webkit-input-placeholder {color: #999;}
	&::placeholder {color: #999; opacity: 1;}
	&:-ms-input-placeholder {color: #999;}
	&::-ms-clear {display: none;}
}
.inputChk {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 1;
	input:focus + span {outline: 1px solid;}
	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		z-index: -1;
		& + span, & + label {
			display: inline-block;
			cursor: pointer;
			color: #666;
			font-size: 14px;
			&:before {
				content:"";
				@include display($type: inline-block, $a: 20px);
				margin-right: 6px;
				background: url($path+'images/icon_chk.png') no-repeat;
				vertical-align: -4px;
			}
		}
		&:disabled + label:before,
		&:disabled + span:before {opacity: .5;}
		&:checked + label:before,
		&:checked + span:before {background-position: 100% 0;}
	}
	input[type="radio"] {
		@extend input[type="checkbox"];
		& + label:before, & + span:before {
			background-image: url($path+'images/icon_radio.png');
		}
	}
	&.nonTxt input + label, &.nonTxt input + span {
		font-size: 0;
		&:before {margin: 0;}
	}
}

[class*="btnType"] {
	display: inline-block;
	box-sizing: border-box;
	line-height: 1;
	vertical-align: middle;
}
.btnType1, .btnType2, .btnType3 {
	padding: 8px 24px 6px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 2px;
}
.btnType1 {
	background: #f68710;
	border: 1px solid #f68710;
	color: #fff;
}
.btnType2 {
	background: #f3f9f9;
	border: 1px solid #617281;
	color: #333647;
}
.btnType3 {
	background: #5a5c67;
	border: 1px solid #5a5c67;
	color: #fff;
}
.btnType4 {
	padding: 5px 8px 3px;
	background: #a2a4b3;
	color: #fff;
	font-size: 16px;
}
.btnType5 {
	padding: 6px 8px 4px;
	background: #fff;
	border: 1px solid #bec8d1;
	color: #6a6d7f;
	font-size: 13px;
	font-weight: bold;
}

.header {
	@include pos($p: fixed, $t: 0, $r: 0, $l: 0, $z: 100);
	display: flex;
	align-items: center;
	height: 84px;
	background: #fff;
	border-bottom: 1px solid #d9dce8;
	.logo {
		display: flex;
		height: 100%;
		margin-left: 30px;
		align-items: center;
		font-size: 0;
	}
	.desc {
		margin: 10px 0 0 10px;
		color: #72818f;
		font-size: 16px;
	}
	.util {
		height: 100%;
		margin-left: auto;
		justify-self: flex-end;
		.user {
			display: inline-block;
			margin-right: 5px;
			color: #606870;
			font-size: 16px;
			vertical-align: middle;
		}
		.btnSet {
			width: 70px; height: 100%;
			margin-left: 15px;
			border: solid #d9dce8;
			border-width: 0 1px;
			font-size: 0;
			background: url($path+'images/icon_set.png') no-repeat 50% 50%;
			vertical-align: middle;
		}
	}
}

.menuWrap {
	@include pos($p: fixed, $t: 85px, $b: 0, $l: 0);
	width: 220px;
	padding: 50px 0 50px 20px;
	background: #fff;
	box-sizing: border-box;
	border-right: 1px solid #d9dce8;
	.navTitle {
		margin-left: 13px;
		padding-left: 20px;
		background: url($path+'images/icon_depth.png') no-repeat 0 4px;
		font-size: 16px;
		color: #29292d;
		~ .navTitle {margin-top: 70px;}
	}
	.navList {
		margin-top: 15px;
		li {
			padding: 10px 0 8px 30px;
			border-radius: 8px 0 0 8px;
			color: #6c8296;
			font-size: 15px;
			&.active {
				background: #3393ec;
				color: #fff;
			}
		}
		a {
			position: relative;
			display: block;
			padding-left: 10px;
			&:before {
				content: "-";
				@include pos($p: absolute, $t: 0, $l: 0);
			}
		}
	}
}

.container {
	margin: 84px 0 0 220px;
	padding: 12px;
}

.tabList {
	display: flex;
	background: #f6fafb;
	border: 1px solid #d9dce8;
	li {
		position: relative;
		flex: 1;
		~ li {border-left: 1px solid #d9dce8;}
		a {
			position: relative;
			display: block;
			padding: 12px 0;
			text-align: center;
			font-size: 16px;
			color: #313447;
			z-index: 2;
		}
		&.active {
			a {color: #1483ea;}
			&:after {
				content: "";
				@include pos($p: absolute, $t: 0, $r: 0, $b: -1px, $l: 0);
				background: #fff;
			}
		}
	}
}