@font-face {
	font-family:'noto';
	font-weight:300;
	src:local('NotoSansLight'), local('NotoSansLight'), url(../font/noto/NotoSansKR-Light.eot);
	src:url(../font/noto/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
		url(../font/noto/NotoSansKR-Light.woff2) format('woff2'),
		url(../font/noto/NotoSansKR-Light.woff) format('woff');
}
@font-face {
	font-family:'noto';
	font-weight:400;
	src:local('NotoSansRegular'), local('NotoSansRegular'), url(../font/noto/NotoSansKR-Regular.eot);
	src:url(../font/noto/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
		url(../font/noto/NotoSansKR-Regular.woff2) format('woff2'),
		url(../font/noto/NotoSansKR-Regular.woff) format('woff');
}
@font-face {
	font-family:'noto';
	font-weight:700;
	src:local('NotoSansMedium'), local('NotoSansMedium'), url(../font/noto/NotoSansKR-Medium.eot);
	src:url(../font/noto/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
		url(../font/noto/NotoSansKR-Medium.woff2) format('woff2'),
		url(../font/noto/NotoSansKR-Medium.woff) format('woff');
}
@font-face {
	font-family:'noto';
	font-weight:800;
	src:local('NotoSansBold'), local('NotoSansBold'), url(../font/noto/NotoSansKR-Bold.eot);
	src:url(../font/noto/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
		url(../font/noto/NotoSansKR-Bold.woff2) format('woff2'),
		url(../font/noto/NotoSansKR-Bold.woff) format('woff');
}

@font-face {
	font-family:'ng';
	font-weight:300;
	src:url(../font/ng/NanumGothicL.eot);
	src:url(../font/ng/NanumGothicL.eot?#iefix) format('embedded-opentype'),
		url(../font/ng/NanumGothicL.woff) format('woff'),
		url(../font/ng/NanumGothicL.woff2) format('woff2');
}
@font-face {
	font-family:'ng';
	font-weight:400;
	src:url(../font/ng/NanumGothic.eot);
	src:url(../font/ng/NanumGothic.eot?#iefix) format('embedded-opentype'),
		url(../font/ng/NanumGothic.woff) format('woff'),
		url(../font/ng/NanumGothic.woff2) format('woff2');
}
@font-face {
	font-family:'ng';
	font-weight:600;
	src:url(../font/ng/NanumGothicB.eot);
	src:url(../font/ng/NanumGothicB.eot?#iefix) format('embedded-opentype'),
		url(../font/ng/NanumGothicB.woff) format('woff'),
		url(../font/ng/NanumGothicB.woff2) format('woff2');
}
@font-face {
	font-family:'ng';
	font-weight:800;
	src:url(../font/ng/NanumGothicEB.eot);
	src:url(../font/ng/NanumGothicEB.eot?#iefix) format('embedded-opentype'),
		url(../font/ng/NanumGothicEB.woff) format('woff'),
		url(../font/ng/NanumGothicEB.woff2) format('woff2');
}