.slideContainer {overflow: hidden;}
.swiper-wrapper {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	.swiper-slide {
		width: 100%;
		flex-shrink: 0;
	}
}

.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all {width:100% !important;}
.ui-jqgrid-view {width:100% !important;}
.ui-jqgrid-hdiv {width:100% !important;}
.ui-jqgrid .ui-jqgrid-hbox {width:100% !important; padding:0 !important;}
.ui-jqgrid-htable {width:100% !important;}
.ui-jqgrid-bdiv {width:100% !important;}
.ui-jqgrid-btable {width:100% !important;}
.ui-jqgrid-pager {width:100% !important;}

.ui-jqgrid {
	.pager {
		background: none !important;
		[id*="_center"] {
			> table {float:right;}
		}
		> div > table > tbody > tr > td:last-child {display: none;}
		.ui-pg-table td {font-weight: 700;}
		.ui-pg-selbox {
			height: 30px;
			margin-left: 30px;
			padding: 0 55px 0 20px;
			background: url('../images/icon_select2.png') no-repeat 100% 50%;
			border: 1px solid #8399aa;
			border-right: 0;
		}
	}
	@media screen and (max-width: 768px) {
		.ui-jqgrid-htable th div {
			padding: rem(10);
		}
		tr.jqgrow td {
			padding: rem(10);
		}
		.ui-pg-button .ui-icon {
			width: rem(40); height: rem(40);
			background-size: auto rem(80);
		}
		.ui-pg-button .ui-icon-seek-prev {background-position: rem(-44) 0;}
		.ui-pg-button .ui-icon-seek-prev:hover {background-position: rem(-44) 100%;}
		.ui-pg-button .ui-icon-seek-next {background-position: rem(-84) 0;}
		.ui-pg-button .ui-icon-seek-next:hover {background-position: rem(-84) 100%;}
		.ui-pg-button .ui-icon-seek-end {background-position: rem(-130) 0;}
		.ui-pg-button .ui-icon-seek-end:hover {background-position: rem(-130) 100%;}
		.ui-separator {
			width: rem(10);
		}
		.ui-pg-input {
			width: rem(50); height: rem(40);
		}
		.pager .ui-pg-selbox {
			height: rem(40);
			margin-left: rem(20);
			padding: 0 rem(60) 0 rem(20);
			background-size: auto 100%;
		}
	}
}

#ui-datepicker-div {z-index: 10000 !important;}